<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyprogram -->
      <package
            uri="https://org/tdt4250/project2/studyprogram"
            class="studyprogram.StudyprogramPackage"
            genModel="model/studyprogram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated studyprogram -->
      <parser
            type="studyprogram"
            class="studyprogram.util.StudyprogramResourceFactoryImpl"/>
   </extension>

</plugin>
